In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from ydata_profiling import ProfileReport

In [3]:
df = pd.read_csv("Datasets/train_set_agoda.csv")

df.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code,cancellation_datetime
0,7861445258918608962,2017-10-21 19:26:00,2018-07-31 00:00:00,2018-08-01 00:00:00,88838,AU,2012-10-04 10:03:00,4.0,Resort,Pay Now,...,0.0,0.0,0.0,0.0,0.0,5832,50.0,675.0,461,NaN
1,-3175925110616170919,2018-08-10 15:40:00,2018-08-10 00:00:00,2018-08-11 00:00:00,51920,JP,2012-10-01 10:03:00,3.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,643,296.0,191.0,2249,NaN
2,-5166200042028380517,2018-09-14 21:56:00,2018-09-14 00:00:00,2018-09-15 00:00:00,90189,TW,2014-06-12 08:05:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,2900,NaN,NaN,892,NaN
3,6165211278500849566,2018-09-13 13:34:00,2018-09-13 00:00:00,2018-09-14 00:00:00,236389,TR,2010-08-31 07:16:00,0.0,Guest House / Bed & Breakfast,Pay Now,...,0.0,1.0,0.0,0.0,0.0,3110,NaN,NaN,744,NaN
4,-1853092131420973567,2018-02-01 20:44:00,2018-08-31 00:00:00,2018-09-02 00:00:00,187085,JP,2010-07-01 07:38:00,3.5,Hotel,Pay Later,...,0.0,0.0,0.0,0.0,0.0,3760,453.0,359.0,2260,2018-02-02

In [7]:
df['label'] = df['cancellation_datetime'].isna()
df.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_largebed,request_twinbeds,request_airport,request_earlycheckin,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code,cancellation_datetime,label
0,7861445258918608962,2017-10-21 19:26:00,2018-07-31 00:00:00,2018-08-01 00:00:00,88838,AU,2012-10-04 10:03:00,4.0,Resort,Pay Now,...,0.0,0.0,0.0,0.0,5832,50.0,675.0,461,NaN,True
1,-3175925110616170919,2018-08-10 15:40:00,2018-08-10 00:00:00,2018-08-11 00:00:00,51920,JP,2012-10-01 10:03:00,3.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,643,296.0,191.0,2249,NaN,True
2,-5166200042028380517,2018-09-14 21:56:00,2018-09-14 00:00:00,2018-09-15 00:00:00,90189,TW,2014-06-12 08:05:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,2900,NaN,NaN,892,NaN,True
3,6165211278500849566,2018-09-13 13:34:00,2018-09-13 00:00:00,2018-09-14 00:00:00,236389,TR,2010-08-31 07:16:00,0.0,Guest House / Bed & Breakfast,Pay Now,...,1.0,0.0,0.0,0.0,3110,NaN,NaN,744,NaN,True
4,-1853092131420973567,2018-02-01 20:44:00,2018-08-31 00:00:00,2018-09-02 00:00:00,187085,JP,2010-07-01 07:38:00,3.5,Hotel,Pay Later,...,0.0,0.0,0.0,0.0,3760,453.0,359.0,2260,2018-02-02,False

In [8]:
ProfileReport(df, title="Profiling Report").to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\users\asus\appdata\local\programs\python\python39\lib\site-packages\ydata_profiling\model\pandas\describe_numeric_pandas.py:122: RuntimeWarning: overflow encountered in longlong_scalars
  stats["range"] = stats["max"] - stats["min"]
c:\users\asus\appdata\local\programs\python\python39\lib\site-packages\ydata_profiling\model\pandas\describe_numeric_pandas.py:122: RuntimeWarning: overflow encountered in longlong_scalars
  stats["range"] = stats["max"] - stats["min"]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]