In [10]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv("AgodaCancellationChallenge/agoda_cancellation_train.csv")
df.head(5)

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616

In [16]:
print(df.shape)
print(df.columns)

(58659, 39)
Index(['h_booking_id', 'booking_datetime', 'checkin_date', 'checkout_date',
       'hotel_id', 'hotel_country_code', 'hotel_live_date',
       'hotel_star_rating', 'accommadation_type_name', 'charge_option',
       'h_customer_id', 'customer_nationality', 'guest_is_not_the_customer',
       'guest_nationality_country_name', 'no_of_adults', 'no_of_children',
       'no_of_extra_bed', 'no_of_room', 'origin_country_code', 'language',
       'original_selling_amount', 'original_payment_method',
       'original_payment_type', 'original_payment_currency',
       'is_user_logged_in', 'cancellation_policy_code', 'is_first_booking',
       'request_nonesmoke', 'request_latecheckin', 'request_highfloor',
       'request_largebed', 'request_twinbeds', 'request_airport',
       'request_earlycheckin', 'cancellation_datetime', 'hotel_area_code',
       'hotel_brand_code', 'hotel_chain_code', 'hotel_city_code'],
      dtype='object')

In [13]:

X = df.drop('cancellation_datetime', axis=1)  # Features (input variables)
y = df['cancellation_datetime']  # Target variable (output variable)

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# train_test_split() takes the following arguments:
# X: The input features
# y: The target variable
# test_size: The proportion of the data to be used for testing (0.2 represents 20% for testing)
# random_state: A seed value to ensure reproducibility of the split

# Printing the shapes of the resulting datasets
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (46927, 38) (46927,)
Testing set shape: (11732, 38) (11732,)

In [28]:
# S = np.concatenate([X_train,y_train], axis=1)
X_train[y_train.name] = y_train
S = X_train

In [29]:
S.to_csv('train_set_agoda.csv', index=False)

In [21]:
X_train.to_csv('train_agoda.csv', index=False)
X_test.to_csv('test_agoda_freezer.csv', index=False)

In [18]:
X_train.describe()

,h_booking_id,hotel_id,hotel_star_rating,h_customer_id,guest_is_not_the_customer,no_of_adults,no_of_children,no_of_extra_bed,no_of_room,original_selling_amount,...,request_latecheckin,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
count,4.692700e+04,4.692700e+04,46927.000000,4.692700e+04,46927.000000,46927.000000,46927.000000,46927.000000,46927.000000,46927.000000,...,26897.000000,26897.000000,26897.000000,26897.000000,26897.000000,26897.000000,46927.000000,12228.000000,12584.000000,46927.000000
mean,-1.748276e+16,1.341713e+06,3.223997,4.508921e+18,0.214269,2.347561,0.148145,0.011656,1.140303,219.591818,...,0.026100,0.150686,0.390601,0.158865,0.007399,0.033498,3025.039529,479.074583,357.647807,1498.046583
std,5.324764e+18,1.361520e+06,1.172263,2.804285e+18,0.410319,1.324138,0.529126,0.116292,0.519045,439.944700,...,0.159434,0.357749,0.487894,0.365557,0.085698,0.179937,1733.855870,277.616349,208.819048,909.020866
min,-9.223194e+18,1.000000e+00,-1.000000,-9.096408e+18,0.000000,1.000000,0.000000,0.000000,1.000000,2.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,-4.614613e+18,2.558290e+05,3.000000,2.230653e+18,0.000000,2.000000,0.000000,0.000000,1.000000,50.585000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1477.000000,253.000000,181.000000,583.000000
50%,-3.206479e+16,7.985350e+05,3.000000,4.548811e+18,0.000000,2.000000,0.000000,0.000000,1.000000,107.780000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3134.000000,481.000000,355.000000,1572.000000
75%,4.576099e+18,2.284662e+06,4.000000,6.853587e+18,0.000000,2.000000,0.000000,0.000000,1.000000,243.010000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4572.000000,741.000000,575.000000,2310.000000
max,9.223338e+18,5.823993e+06,5.000000,9.223335e+18,1.000000,30.000000,10.000000,5.000000,9.000000,49566.160000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5896.000000,936.000000,680.000000,2808.000000

In [23]:
X_train.columns

Index(['h_booking_id', 'booking_datetime', 'checkin_date', 'checkout_date',
       'hotel_id', 'hotel_country_code', 'hotel_live_date',
       'hotel_star_rating', 'accommadation_type_name', 'charge_option',
       'h_customer_id', 'customer_nationality', 'guest_is_not_the_customer',
       'guest_nationality_country_name', 'no_of_adults', 'no_of_children',
       'no_of_extra_bed', 'no_of_room', 'origin_country_code', 'language',
       'original_selling_amount', 'original_payment_method',
       'original_payment_type', 'original_payment_currency',
       'is_user_logged_in', 'cancellation_policy_code', 'is_first_booking',
       'request_nonesmoke', 'request_latecheckin', 'request_highfloor',
       'request_largebed', 'request_twinbeds', 'request_airport',
       'request_earlycheckin', 'hotel_area_code', 'hotel_brand_code',
       'hotel_chain_code', 'hotel_city_code'],
      dtype='object')