In [10]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv("AgodaCancellationChallenge/agoda_cancellation_train.csv")
df.head(5)

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616

In [16]:
print(df.shape)
print(df.columns)

(58659, 39)
Index(['h_booking_id', 'booking_datetime', 'checkin_date', 'checkout_date',
       'hotel_id', 'hotel_country_code', 'hotel_live_date',
       'hotel_star_rating', 'accommadation_type_name', 'charge_option',
       'h_customer_id', 'customer_nationality', 'guest_is_not_the_customer',
       'guest_nationality_country_name', 'no_of_adults', 'no_of_children',
       'no_of_extra_bed', 'no_of_room', 'origin_country_code', 'language',
       'original_selling_amount', 'original_payment_method',
       'original_payment_type', 'original_payment_currency',
       'is_user_logged_in', 'cancellation_policy_code', 'is_first_booking',
       'request_nonesmoke', 'request_latecheckin', 'request_highfloor',
       'request_largebed', 'request_twinbeds', 'request_airport',
       'request_earlycheckin', 'cancellation_datetime', 'hotel_area_code',
       'hotel_brand_code', 'hotel_chain_code', 'hotel_city_code'],
      dtype='object')

In [13]:

X = df.drop('cancellation_datetime', axis=1)  # Features (input variables)
y = df['cancellation_datetime']  # Target variable (output variable)

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# train_test_split() takes the following arguments:
# X: The input features
# y: The target variable
# test_size: The proportion of the data to be used for testing (0.2 represents 20% for testing)
# random_state: A seed value to ensure reproducibility of the split

# Printing the shapes of the resulting datasets
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (46927, 38) (46927,)
Testing set shape: (11732, 38) (11732,)

In [17]:
X_train.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_latecheckin,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
54348,7861445258918608962,2017-10-21 19:26:00,2018-07-31 00:00:00,2018-08-01 00:00:00,88838,AU,2012-10-04 10:03:00,4.0,Resort,Pay Now,...,0.0,0.0,0.0,0.0,0.0,0.0,5832,50.0,675.0,461
19312,-3175925110616170919,2018-08-10 15:40:00,2018-08-10 00:00:00,2018-08-11 00:00:00,51920,JP,2012-10-01 10:03:00,3.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,643,296.0,191.0,2249
12945,-5166200042028380517,2018-09-14 21:56:00,2018-09-14 00:00:00,2018-09-15 00:00:00,90189,TW,2014-06-12 08:05:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,2900,NaN,NaN,892
48989,6165211278500849566,2018-09-13 13:34:00,2018-09-13 00:00:00,2018-09-14 00:00:00,236389,TR,2010-08-31 07:16:00,0.0,Guest House / Bed & Breakfast,Pay Now,...,0.0,0.0,1.0,0.0,0.0,0.0,3110,NaN,NaN,744
23534,-1853092131420973567,2018-02-01 20:44:00,2018-08-31 00:00:00,2018-09-02 00:00:00,187085,JP,2010-07-01 07:38:00,3.5,Hotel,Pay Later,...,0.0,0.0,0.0,0.0,0.0,0.0,3760,453.0,359.0,2260