In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv("AgodaCancellationChallenge/agoda_cancellation_train.csv")
df.head(10)

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616
5,-9220467519202693449,2018-05-03 09:25:00,2018-08-21 00:00:00,2018-08-23 00:00:00,59272,PF,2014-01-16 08:03:00,3.0,Resort,Pay Later,...,NaN,NaN,NaN,NaN,NaN,2018-05-03,3146,NaN,NaN,1309
6,-9220037355644368516,2018-08-15 02:10:00,2018-08-18 00:00:00,2018-08-19 00:00:00,400966,TH,2012-10-15 11:45:00,3.5,Serviced Apartment,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,1703,NaN,NaN,2477
7,-9219746746155641867,2018-07-11 20:41:00,2018-08-03 00:00:00,2018-08-06 00:00:00,69287,JP,2009-11-04 08:07:00,3.5,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0.0,2018-07-23,3959,NaN,NaN,2249
8,-9219730436418354424,2018-04-06 21:19:00,2018-07-22 00:00:00,2018-07-23 00:00:00,2973895,ID,2017-10-12 10:58:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,NaN,NaN,744,10.0,297.0,88
9,-9219588530948048517,2018-07-28 05:39:00,2018-07-28 00:00:00,2018-07-29 00:00:00,1120617,TH,2015-11-13 16:18:00,3.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0.0,NaN,2663,NaN,NaN,2477

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df[], y, test_size=0.33, random_state=42)

Index([' Form Name', ' Hospital', 'User Name', 'אבחנה-Age',
       'אבחנה-Basic stage', 'אבחנה-Diagnosis date', 'אבחנה-Her2',
       'אבחנה-Histological diagnosis', 'אבחנה-Histopatological degree',
       'אבחנה-Ivi -Lymphovascular invasion', 'אבחנה-KI67 protein',
       'אבחנה-Lymphatic penetration', 'אבחנה-M -metastases mark (TNM)',
       'אבחנה-Margin Type', 'אבחנה-N -lymph nodes mark (TNM)',
       'אבחנה-Nodes exam', 'אבחנה-Positive nodes', 'אבחנה-Side', 'אבחנה-Stage',
       'אבחנה-Surgery date1', 'אבחנה-Surgery date2', 'אבחנה-Surgery date3',
       'אבחנה-Surgery name1', 'אבחנה-Surgery name2', 'אבחנה-Surgery name3',
       'אבחנה-Surgery sum', 'אבחנה-T -Tumor mark (TNM)', 'אבחנה-Tumor depth',
       'אבחנה-Tumor width', 'אבחנה-er', 'אבחנה-pr',
       'surgery before or after-Activity date',
       'surgery before or after-Actual activity',
       'id-hushed_internalpatientid'],
      dtype='object')