In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from ydata_profiling import ProfileReport
from task_1.code.hackathon_code.Utils.pp import preprocess
# from task_1.code.hackathon_code.Utils.utils import load_data

In [2]:
def load_data(filename):
    dates_to_parse = ["booking_datetime", "checkin_date",
                       "checkout_date", "hotel_live_date", "cancellation_datetime"]
    df = pd.read_csv(filename, parse_dates=dates_to_parse)
    return df

In [3]:

df = load_data("../Datasets/train_set_agoda.csv")
X, y = preprocess(df)

X.head()
# y.head()

,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,customer_nationality,...,hotel_brand_code,hotel_chain_code,hotel_city_code,cancellation_datetime,distance_booking_checkin,amount_guests,amount_nights,price_per_guest_per_night,costumer_guest_same_nation,pay_now
0,294,212,213,88838,5,2012-10-04 10:03:00,4.0,16,Pay Now,China,...,50.0,675.0,461,NaT,282,12,1,36.376667,True,True
1,222,222,223,51920,57,2012-10-01 10:03:00,3.0,10,Pay Now,Japan,...,296.0,191.0,2249,NaT,0,1,1,54.010000,True,True
2,257,257,258,90189,114,2014-06-12 08:05:00,4.0,10,Pay Now,Taiwan,...,NaN,NaN,892,NaT,0,2,1,49.590000,True,True
3,256,256,257,236389,113,2010-08-31 07:16:00,0.0,5,Pay Now,Turkey,...,NaN,NaN,744,NaT,0,1,1,19.360000,True,True
4,32,243,245,187085,57,2010-07-01 07:38:00,3.5,10,Pay Later,South Korea,...,453.0,359.0,2260,2018-02-02,210,1,2,87.760000,True,False

In [4]:
ProfileReport(df, title="Profiling Report").to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\users\asus\appdata\local\programs\python\python39\lib\site-packages\ydata_profiling\model\pandas\describe_numeric_pandas.py:122: RuntimeWarning: overflow encountered in longlong_scalars
  stats["range"] = stats["max"] - stats["min"]
c:\users\asus\appdata\local\programs\python\python39\lib\site-packages\ydata_profiling\model\pandas\describe_numeric_pandas.py:122: RuntimeWarning: overflow encountered in longlong_scalars
  stats["range"] = stats["max"] - stats["min"]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
from plot4d import plotter
f = lambda x, y, z: x/ (x+(2*y)+z) if x+(2*y)+z else 0
z_range = np.linspace(0,100,100)
frame = plotter.Frame2D(xmin=0, xmax=100, ymin=0, ymax=100)
plotter.plot4d(f, z_range, frame=frame, func_name='f2')

Animation saved as "f2.gif"

'f2.gif'